<div class="jumbotron">
  <h1 class="display-4">Super Blog</h1>
  <p class="lead">Seja bem-vindo ao nosso blog onde o principal tema é o debate sobre as diversas tecnologias do
    universo da computação</p>
  <hr class="my-4">
  <p>Junte-se a nós e embarque nesse tecnoverso</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
  </p>
</div>

<hr>
<h2>Postagens recentes : </h2>
{{#each postagens}}
<div class="card mt-4">
  <div class="card-body">


    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagem/{{slug}}" class="btn btn-success">Leia mais</a>
    <hr>
    <small>Categoria : {{categoria.nome}}</small><br>
    <small>Data de publicação : {{data}}</small>

  </div>
</div>
{{else}}
<h5>Nenhuma postagem</h5>


{{/each}}